<form (ngSubmit)="onSubmit()">
    <input
      type="password"
      [(ngModel)]="oldPassword"
      name="oldPassword"
      placeholder="كلمة المرور الحالية"
      required
    />
  
    <input
      type="password"
      [(ngModel)]="newPassword"
      name="newPassword"
      placeholder="كلمة المرور الجديدة"
      required
    />
  
    <button type="submit">تغيير كلمة المرور</button>
  
    <div *ngIf="loading$ | async">جاري الإرسال...</div>
    <div *ngIf="error$ | async as error" style="color: red">{{ error }}</div>
    <div *ngIf="success$ | async as success" style="color: green">
      {{ success }}
    </div>
  </form>
  